<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width">
    <meta charset="UTF-8">
    <title>Page not found</title>
    <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap-theme.css">
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1 class="text-center">Page not found!</h1>
        </div>
        <h2>
            <a href="/">Back to the main page</a>
        </h2>
    </div>
</body>
</html>